<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="A listing of books by users who have loaded them to the site."
    />
    <meta
      name="keywords"
      content="HTML, CSS, JavaScript, Django, Posts, Comments, Sharing"
    />
    <meta name="author" content="RingVision" />
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Poppins:wght@300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/nav_bar.css' %}" />
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <link rel="stylesheet" href="{% static 'css/footer.css' %}" />
    <link rel="stylesheet" href="{% static 'css/add_book.css' %}" />
    <link rel="stylesheet" href="{% static 'css/add_author.css' %}" />
    <link rel="stylesheet" href="{% static 'css/book_details.css' %}" />
    <link rel="stylesheet" href="{% static 'css/author_details.css' %}" />
    <title>Books & Authors</title>
  </head>
  <body>

    {% include "navbar.html" %}
    

    {% block content %} 
    
    {% endblock content %}
    
    
    {% include "footer.html" %}

    <script src="{% static 'js/navBar.js' %}"></script>
  </body>
</html>