{% extends "base.html" %}

{% block title %}Books & Authors{% endblock %} 


{% block content %}

<div class="wrapper-index">   
    <h1 class="welcome-index">Welcome to Books and Authors</h1>
</div>

<div class="about-cards-main">
    <div class="cards">
        <P>About Books and Authors. This is a great place to log in and track your favorite books and authors.</P>
    </div>
    <div class="cards">
        <P>Who is Books and Authors for? Books and Authors. This is a great place to log in and track your favorite books and authors.</P>
    </div>
    <div class="cards">
        <P>Is there a cost?. This is a great place to log in and track your favorite books and authors.</P>
    </div>
</div>

{% endblock %}