* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px dotted rgb(234, 0, 255); */
}

.wrapper-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-main {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    height: 65px;
    border: 2px solid white;
    background-color: #141438;
}

.footer-main span,
.footer-main a {
    margin: 5px;
    color: white;
  }