* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px dotted rgb(234, 0, 255); */
}


.wrapper-navbar {
    position: fixed;
    top: 0px;
    border: 2px solid white;
    background-color: #141438;
    width: 100%;
  }
    
  .side-bar {
      position: absolute;
      left:-45px;
      margin-top: 5px;
  }
  
  
  .navbar {
    display: flex;
    flex-wrap: row wrap;
    justify-content: center;
    align-items: center;
    background: #141438;
    overflow: hidden;
    height: 65px;   
    font-weight: bold;
  }
  
  .navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
  }
  
  /* Style the navbar links*/
  .navbar a {
    margin: 0 0 0 65px;
    text-decoration: none; /* Remove link underline, etc*/
    color: #f8f9fa;
  }
  
  .navbar ul {
    list-style: none; /* Remove bullets*/
    margin: 0 0 5px 0;
  }
  
  li {
    list-style-type: none;
    color: white;
  }
  
  /* Navbar modify on hover*/
  .navbar-nav a:hover {
    box-shadow: 5px 10px 18px rgba(204,230,255,1);
    padding: 5px;
    border-radius: 5px;
    text-transform: uppercase;
    color: #007bff;
  }
  
  .side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1; /* Keep on top*/
    top: 0; /* Set upper left corner with top left = 0 */
    left: 0;
    background-color: #111;
    opacity: 0.9;
    overflow-x: hidden;
    padding-top: 75px;
    transition: 1s;
  }
  
  /* Style the links for the side nav*/
  .side-nav a {
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    font-size: 20px;
    color: #ccc;
    display: block;
    transition: 0.3s;
  }
  
  #side-bar  a:hover {
    box-shadow: 5px 10px 18px rgba(204,230,255,1);
    padding: 5px;
    border-radius: 5px;
    text-transform: uppercase;
    color: #007bff;
  }
  
  /* Style and set the position for the side nav*/
  .btn-close {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 20px;
    margin-left: 5px;
    color: #ccc;
    cursor: pointer;
  }